.resolucion {
  width: 99%;
  text-align: center;
}

/**Movil**/

@media (max-width: 767px) {
  .desktop {
    display: none;
  }
  .tablet {
    display: none;
  }
}

/**Tablet**/

@media (min-width: 768px) and (max-width: 990px) {
  .desktop {
    display: none;
  }
  .movil {
    display: none;
  }
}

/**Escritorio**/

@media (min-width: 991px) {
  .tablet {
    display: none;
  }
  .movil {
    display: none;
  }
}

body {
  background: black;
}

.navbarmovil {
  display: flex;
  justify-content: center;
  background-color: #333; /* dark gray */
  border-radius: 30px;
  padding: 10px;
}

.navbarmovil a {
  font-size: 20px;
  color: white;
  text-decoration: none;
  border: 2px solid white;
  border-radius: 25px;
  padding: 6px 6px;
  margin: 0 5px;
}

.navbarmovil a:hover {
  background-color: white;
  color: black;
}

table {
  width: 100%;
  border-collapse: collapse;
}
td {
  padding: 0px;
  text-align: center;
}

/* --------------desktop---------------------*/

.navbar {
  display: flex;
  justify-content: center;
  background-color: #333; /* dark gray */
  border-radius: 30px;
  padding: 10px;
}

.navbar a {
  font-size: 24px;
  color: white;
  text-decoration: none;
  border: 2px solid black;
  border-radius: 25px;
  padding: 10px 20px;
  margin: 0 10px;
}

.navbar a:hover {
  background-color: white;
  color: black;
}

.divprincipal {
  text-align: center;
  background: black;
  width: 950px;
  margin: auto;

  padding-left: 70px;
  padding-right: 200px;
  border-style: none;
}

  