body {
    background: black;
  }
  
  .resolucion {
    width: 99%;
    text-align: center;
  }
  
  /**Movil**/
  
  @media (max-width: 767px) {
    .desktop {
      display: none;
    }
    .tablet {
      display: none;
    }
  }
  
  /**Tablet**/
  
  @media (min-width: 768px) and (max-width: 990px) {
    .desktop {
      display: none;
    }
    .movil {
      display: none;
    }
  }
  
  /**Escritorio**/
  
  @media (min-width: 991px) {
    .tablet {
      display: none;
    }
    .movil {
      display: none;
    }
  }
  
  .navbarmovil {
    display: flex;
    justify-content: center;
    background-color: #333; /* dark gray */
    border-radius: 30px;
    padding: 10px;
  }
  
  .navbarmovil a {
    font-size: 20px;
    color: white;
    text-decoration: none;
    border: 2px solid white;
    border-radius: 25px;
    padding: 6px 6px;
    margin: 0 5px;
  }
  
  .navbarmovil a:hover {
    background-color: white;
    color: black;
  }
  
  .contenedor {
    display: flex;
    align-items: center;
  }
  
  .foto01 {
    float: left;
    margin-left: 20px;
    margin-right: 10px;
  }
  
  .titulo {
    color: white;
    font-size: 16px;
    width: 150px;
  }
  
  .texto {
    color: white;
    font-size: 12px;
    width: 150px;
  }
  
  .video {
    border: 1px solid #231d1c; /* Establecer un borde de color gris */
    background-color: black; /* Establecer un fondo de color gris claro */
    padding: 1px; /* Agregar un espacio interno alrededor del video */
  }
  
  /** pc */
  
  .desktop {
    text-align: center;
    background: black;
    width: 950px;
    margin: auto;
  
    padding-left: 70px;
    padding-right: 200px;
  }
  
  .navbar {
    display: flex;
    justify-content: center;
    background-color: #333; /* dark gray */
    border-radius: 30px;
    padding: 10px;
  }
  
  .navbar a {
    font-size: 24px;
    color: white;
    text-decoration: none;
    border: 2px solid black;
    border-radius: 25px;
    padding: 10px 20px;
    margin: 0 10px;
  }
  
  .navbar a:hover {
    background-color: white;
    color: black;
  }
  
  .DUNEmovie {
    text-align: center;
    display: inline-block;
  }
  
  .prueba001 {
    position: absolute;
    top: 350px;
    left: 150px;
  }
  
  .info01 {
    position: absolute;
    top: 750px;
    left: 150px;
  }
  
  .invisible {
    visibility: hidden;
    /* or */
    opacity: 0;
    position: absolute;
    top: 9501px;
    left: 1130px;
  }
  
  .dune001 {
    padding-left: 250px;
  }
  
  .info01 {
    padding-left: 250px;
  }
  